<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<title>Sinder</title>

	<link rel="stylesheet" type="text/css" href="css/style.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">
</head>

<body class="disable_ang_links">
	<form class="form" autocomplete="off" autocapitalize="off" novalidate data-form>

		<!-- STEP 1 -->
		<div class="step" data-step="1" data-effect="zoom">
			<img class="step__logo" src="img/logo.svg" />

			<h1 class="step__title">
				Sinder found local girls in <strong><span class="userLocation" data-lang="en" data-flag="0" data-cname="0">your area</span></strong> looking for sex!
			</h1>

			<img class="step__intro_image btn__next" src="img/image.png" />

			<div class="warning">Warning - This is NOT a dating site!</div>

			<button class="step__button btn__next">
				Continue if you want to fuck
				<img class="step__button__arrow" src="img/arrow.svg" />
			</button>
		</div>

		<!-- STEP 2 -->
		<div class="step" data-step="2" data-effect="zoom" style="display: none;">
			<div class="header header_absolute">
				<div class="header__container">
					<img class="header__container__logo" src="img/logo.svg" />
					<img class="header__container__chat" src="img/chat-off.svg" />
				</div>
			</div>

			<div class="step__circle step__circle-outer"></div>
			<div class="step__circle step__circle-outer step__circle-outer_delay"></div>
			<div class="step__circle step__circle-inner"></div>
			<div class="step__circle step__circle-inner step__circle-inner_delay"></div>

			<div class="step__map">
				<img class="step__map__pin_shadow" src="img/map-pin-shadow.svg" />
				<img class="step__map__pin" src="img/map-pin.svg" />

				<div class="step__map__text">
					<span class="finding">Locating girls in <strong id="userLocation" data-lang="en" data-flag="0" data-cname="0">your city</strong>...</span>
					<span class="found" style="display: none;"><strong>28</strong> local girls found!</span>
				</div>
			</div>
		</div>

		<!-- STEP 3 -->
		<div class="step" data-step="3" data-effect="left" style="display: none;">
			<div class="header">
				<div class="header__container">
					<img class="header__container__logo" src="img/logo.svg" />
					<img class="header__container__chat" src="img/chat.svg" />
				</div>
			</div>

			<label class="step__label step__label_extra">Because you will see explicit images, we need to know that you are 18+</label>

			<label class="step__label">Confirm you are <strong>18+</strong> to continue.</label>

			<div class="step__field">
				<input class="step__field__input" name="age" type="tel" ng-model="age" />
				<div class="step__field__placeholder" data-placeholder="age">Enter Age</div>
				<div class="step__field__valid" data-valid="age" style="display: none;"></div>
				<div class="step__field__error" data-error="age" style="display: none;"></div>
			</div>

			<button class="step__button step__button_extra btn__next">
				Click for more hot girls!
				<img class="step__button__arrow" src="img/arrow.svg" />
			</button>
		</div>

		<!-- STEP 4 -->
		<div class="step" data-step="4" data-effect="left" style="display: none;">
			<div class="header">
				<div class="header__container">
					<img class="header__container__logo" src="img/logo.svg" />
					<img class="header__container__chat" src="img/chat.svg" />
				</div>
			</div>

			<label class="step__label step__label_extra">
				What's your <strong>ZIP code?</strong>
			</label>

			<div class="step__field">
				<input class="step__field__input" name="zipcode" type="tel" ng-model="zipcode" />
				<div class="step__field__placeholder" data-placeholder="zipcode">Enter Zip Code</div>
				<div class="step__field__valid" data-valid="zipcode" style="display: none;"></div>
				<div class="step__field__error" data-error="zipcode" style="display: none;"></div>
			</div>

			<button class="step__button step__button_extra btn__next">
				Find girls nearby!
				<img class="step__button__arrow" src="img/arrow.svg" />
			</button>
		</div>

		<!-- STEP 5 -->
		<div class="step" data-step="5" data-effect="left" style="display: none;">
			<div class="header">
				<div class="header__container">
					<img class="header__container__logo" src="img/logo.svg" />
					<img class="header__container__chat" src="img/chat.svg" />
				</div>
			</div>

			<label class="step__label step__label_extra">
				Start meeting local girls now, <strong>choose a password.</strong>
			</label>

			<div class="step__field">
				<input class="step__field__input" name="password" type="password" ng-model="password" />
				<div class="step__field__placeholder" data-placeholder="password">Choose a Password</div>

				<span class="field__show">
					<img class="field__show__eyeoff" src="img/eye-off.svg">
					<img class="field__show__eyeon" src="img/eye-on.svg">
				</span>

				<div class="step__field__valid" data-valid="password" style="display: none;"></div>
				<div class="step__field__error" data-error="password" style="display: none;"></div>
			</div>

			<button class="step__button step__button_extra btn__next">
				Almost done!
				<img class="step__button__arrow" src="img/arrow.svg" />
			</button>
		</div>

		<!-- STEP 6 -->
		<div class="step" data-step="6" data-effect="turn" style="display: none;">
			<div class="header">
				<div class="header__container">
					<img class="header__container__logo" src="img/logo.svg" />
					<img class="header__container__chat" src="img/chat.svg" />
				</div>
			</div>

			<div class="step__free">100% free</div>

			<label class="step__label">
				Your choices have been saved.<br /><strong>Enter your email</strong> below to start hooking up with local girls!
			</label>

			<div class="step__field">
				<input class="step__field__input" name="email" type="email" ng-model="email" ng-paste="isPasted.email=true" ng-focus="isPasted.email=false" disable-valid-email />
				<div class="step__field__placeholder" data-placeholder="email">Enter Email Address</div>
				<div class="step__field__valid" data-valid="email" style="display: none;"></div>
				<div class="step__field__error" data-error="email" style="display: none;"></div>
			</div>

			<div class="step__disclaimer">
				By clicking the button above or submitting you agree to our Terms and Privacy Policy including use of cookies and to receive newsletters, account updates and offers sent by our website.</div>

			<button class="step__button btn__next">
				Start fucking now!
				<img class="step__button__arrow" src="img/arrow.svg" />
			</button>
		</div>

		<!-- RESULTS -->
		<section class="results" data-results style="display: none;">
			<div class="header">
				<div class="header__container">
					<img class="header__container__logo" src="img/logo.svg" />
					<img class="header__container__chat" src="img/chat.svg" />
				</div>
			</div>

			<div class="wrapper">
				<ul class="results__list results__list-single" data-checks>
					<li class="results__list-single-step" data-check="0">Reviewing your <strong>answers</strong></li>
					<li class="results__list-single-step" data-check="1" style="display: none;">Checking for <strong>available<br />registration slots</strong></li>
					<li class="results__list-single-step" data-check="2" style="display: none;">Checking for <strong>double registrations</strong></li>
					<li class="results__list-single-step results__list-single-step-big" data-check="3" style="display: none;">You’re in!</li>
				</ul>

				<div class="results__spinner" data-spinner>
					<div class="results__spinner__inner">
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
					</div>
				</div>

				<ul class="results__list results__list-multi">
					<li class="results__list-multi-step" data-check="1" style="display: none;">You are <strong>eligible to join</strong></li>
					<li class="results__list-multi-step" data-check="2" style="display: none;">Only <strong>5 available slots</strong> in your area</li>
					<li class="results__list-multi-step" data-check="3" style="display: none;">No <strong>previous registrations</strong> found</li>
				</ul>

				<div data-finish style="display: none;">
					<a class="results__link" href="#" data-upgrade style="display: none">
						<div class="results__link__agree">
							Fuck today with 1 Click!

							<img class="step__button__arrow" src="img/arrow.svg" />
						</div>
					</a>

					<div class="success-message" id="success-message" style="display: none;">
	                    <p>Please, complete your registration by clicking the confirmation link sent to: <span id="success-mail"></span></p>
	                    <p>Please note! The email may take a few minutes to arrive.</p>
	                    <p><strong>IMPORTANT:</strong> <br> If you don't see the confirmation email in your «inbox» folder 5-10 minutes after your registration, please check your «spam/junk» folder.</p>
	                </div>
				</div>

			</div>
		</section>
	</form>

	<script src="js/jquery.min.js"></script>
	<script src="js/main.js"></script>
	<script src="/js/utils.js"></script>

	<script>
        var optPushMethod = "chat_popup_ext_subscribe_v2";
        var optPush = {
            siteLang: "en",
            extNameAge: "Ashley, 26",
            extImageUrl: "images/susan37_big2.jpg",
            extTpl: 2,
            confirmImgUrl: "/js/push-ml/images/susan37_ico2.jpg",
            confirmTitle: "Hiiii, what r u doing? I'm fucking myself right now ;) Join me in chat???",
            confirmMessage: "Ashley, 26",
            confirmBtnClose: "Later",
            confirmBtnAllow: "CHAT NOW",
            confirmStyle: "lp-confirm-style2"
        };
	</script>
	<script src="/js/push-ml/notification-ext.js"></script>

</body>
</html>